.marker-container{
  position: relative;
}
 .marker-popup{
  /* position: absolute; */
  background-color: #fff;
  top: -150%;
  width: 150px;
  word-wrap: break-word;
  border-radius: 10px;
  padding: 3px;
  
}
.marker{
    
    width: 38px;
    height: auto;
    transform: translateY(4px);
    z-index: 0;
    -webkit-transition: margin-top .2s ease-in-out;
    -o-transition: margin-top .2s ease-in-out;
    transition: margin-top .2s ease-in-out;
    -webkit-animation: marker-fade-in .7s 1 ease;
    animation: marker-fade-in .7s 1 ease;
}

.marker-center.drag{
  margin-top: -30px;
}
.marker-center{
    width: 38px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, calc(-100% + 1px));
    -ms-transform: translate(-50%, calc(-100% + 1px));
    transform: translate(-50%, calc(-100% + 1px));
    z-index: 0;
    -webkit-transition: margin-top .2s ease-in-out;
    -o-transition: margin-top .2s ease-in-out;
    transition: margin-top .2s ease-in-out;
    -webkit-animation: marker-fade-in .7s 1 ease;
    animation: marker-fade-in .7s 1 ease;
}

.marker-center.drag{
  margin-top: -30px;
}
.bottom-marker-center{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, calc(-50% + 2px));
    -ms-transform: translate(-50%, calc(-50% + 2px));
    transform: translate(-50%, calc(-50% + 2px));
    z-index: 0;
    -webkit-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}
.bottom-marker-center.drag
{
 width: 18px;
 height: 18px;
}