.map-search-result-container{
  transition: all .2s;
  background: #f7f7f7;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top:102%;
  right: 1.5em;
  z-index: 4444;
  
}

.map-search-result-item{
    overflow-y: auto;
    height: 100%;
}
.map-search-result-item li{
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.map-search-result-item li span:nth-child(2) {
  text-overflow: ellipsis; /* enables ellipsis */
  white-space: nowrap; /* keeps the text in a single line */
  overflow: hidden; 
  padding-top: 7px;
  width: 90%;
  height: 30px;
  transition: .5s;
}
.map-search-result-item li:hover{
        background-color: #ffffff;
}